<!-- Footer -->
<footer> 
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><i class="fa fa-external-link"></i> Links</h3> 
                <p><a href="https://github.com/DPBandA/job-management-tracking-system/wiki/Introduction">
                        <span style="color: seashell;">Job Management &amp; Tracking System</span>
                    </a>
                </p> 
            </div>
            <div class="col-md-4">
                <h3> <i class="bi bi-heart-fill" 
                        style="font-size: 1.5rem; color: seashell;" >                           
                    </i>
                    Socialize
                </h3>
                <div id="social-icons">
                    {% if site.twitter_link %}
                    <a href="{{ site.twitter_link }}" class="btn-group">
                        <i class="bi bi-twitter" 
                           style="font-size: 1.5rem; color: seashell;" >                           
                        </i>
                    </a>
                    {% endif %}

                    {% if site.facebook_link %}
                    <a href="{{ site.facebook_link }}" class="btn-group">
                        <i class="bi bi-facebook" 
                           style="font-size: 1.5rem; color: seashell;" >                           
                        </i>
                    </a>
                    {% endif %}

                    {% if site.github_link %}
                    <a href="{{ site.github_link }}" class="btn-group">
                        <i class="bi bi-github" 
                           style="font-size: 1.5rem; color: seashell;" >                           
                        </i>
                    </a>
                    {% endif %}
                </div>
            </div>    
        </div>
    </div>

    <div class="copyright text center">
        <p>&copy; Copyright {{ site.time | date: '%Y' }}, 
            <a href="/">
                <span style="color: seashell;">ADASSA</span>
            </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" 
            crossorigin="anonymous">
    </script>
</footer>