<header>
    <div class="navbar container">
        <div class="logo centred">
            <a href="/">
                <img src="/assets/media/logo.png" alt="DPB&amp;A Logo" 
                     height="40" width="40">
                <h5 class="mt-2 ml-4">
                    Solutions for your home and business
                </h5>
            </a>
        </div>
        <nav class="d-menu">
            <ul>          
                <a href="/blog">
                    <li>Blog</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
        <nav class="m-menu  mr-4">
            <div onclick="show()">
                <button class="hamburger bi bi-list"></button>
            </div>
            <ul class="m-navbar" id="m-navbar">                       
                <a href="/blog">
                    <li>Blog</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
    </div>
</header>